.sign-form {
    form{
        input,select{
            border-radius: 10px;
            height: 40px;
            border: none;
            padding: 10px;
        }
        button{
            padding: 10px;
        }
    }
}